%h1=t('registration.selection.title', count: @openday.count)
%p.lead=t('registration.selection.paragraph')

- @openday.each do |openday|
  .button-panel  
    %h3.page-header
      =link_to openday.name, root_path+'?openday='+openday.slug 
    %div
      %b
        =t('openday.registration_open')
      =openday.registration_open.strftime('%H:%M, %b %d, %Y')
    %div
      %b
        =t('openday.registration_end')
      =openday.registration_end.strftime('%H:%M, %b %d, %Y')
    %div
      %b
        =t('openday.date')
      =openday.date.strftime('%b %d, %Y')
    %div
      =link_to t('openday.register'), root_path+'?openday='+openday.slug, class: "btn btn-success button-span"


  