%li.list-group-item
  .list-group-head
    .list-group-child
      %span.clickable.glyphicon-left.glyphicon.glyphicon-chevron-down{onclick: 'toggleChildren(this)'}
      %span
        =openday.name
        %small.gray
      = link_to '' ,edit_openday_path(openday), remote: true, class: 'clickable glyphicon glyphicon-pencil pull-right', onclick: "$('#myModal').modal('toggle');"
    - openday.openday_faculties.each do |od_faculty|
      .list-group-child.list-expandable
        .list-group-head.sub
          %span.spacer
          %span.clickable.glyphicon-left.glyphicon.glyphicon-chevron-right{onclick: 'toggleChildren(this)'}
          %span= od_faculty.faculty.name
        .list-group-child.list-expandable
          - od_faculty.openday_programmes.each do |od_programme|
            .list-group-head.sub
              %span.spacer
              %span.spacer
              %span.clickable.glyphicon-left.glyphicon.glyphicon-chevron-right{onclick: 'toggleChildren(this)'}
              %span= od_programme.programme.name
            .list-group-child.list-expandable
              .list-group-head.sub
                %span.spacer
                %span.spacer
                %span.spacer
                %span.clickable.glyphicon-left.glyphicon.glyphicon-chevron-right{onclick: 'toggleChildren(this)'}
                %span Timesloti
              .list-group-child.list-expandable
                .list-group-head.sub
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.clickable.glyphicon-left.glyphicon.glyphicon-time
                  %span Slot 1
                .list-group-head.sub
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.clickable.glyphicon-left.glyphicon.glyphicon-time
                  %span Slot 2
                .list-group-head.sub
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.spacer
                  %span.clickable.glyphicon-left.glyphicon.glyphicon-plus
                  %span jauns slots
          .list-group-head.sub
            %span.spacer
            %span.spacer
            %span.clickable.glyphicon-left.glyphicon.glyphicon-plus
            %span jauna progra
        .list-group-head.sub
          %span.spacer
          %span.clickable.glyphicon-left.glyphicon.glyphicon-plus
          %span jauna kultate
    