%h1= t('openday.panel')

%ul.list-group#faculty_list
  - @opendays.each do |openday|
    = render partial: 'list', :locals => {:openday => openday }, cache: true

= link_to t('openday.add'), new_openday_path, remote: true, class: 'btn btn-success pull-right', onclick: "$('#myModal').modal('toggle');"
#res



.modal.fade#myModal{tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}

:javascript
  function toggleChildren(element) {
    $(element).parent().next().toggle();
    $(element).toggleClass('glyphicon-chevron-down');
    $(element).toggleClass('glyphicon-chevron-up');
  };

  $(function(){$('.list-expandable').addClass('jsEnabled');});