%table
  %tr
    %td{style: "width:15%"}
    %td{style: "width:70%; height: 72px; border: solid 1px #dddddd;"}
      %div{style: "height: 64px; background-color: #eeeeee;"}
      %div{style: "padding:16px;"}
        %b=t('mail.heading', name: @registrant.name)
        %p=t('mail.thanks', date: @openday.date.strftime('%b %d, %Y'))
        %p
          =t('mail.registred_for')
          %ul
            - @programmes.each do |key, programme|
              %li=OpendayProgramme.find(key).programme.name
        %p
          =t('mail.download_card_1')
          %a{href: "#"}=t('mail.download_card_2')
          =t('mail.download_card_3')
        
        %p=t('mail.body_1')
        %p=t('mail.body_2')
        
        %p=t('mail.meetup')
        %p
          =t('mail.regards_1')
          %br
          =t('mail.regards_2')
        
        %p
          =t('mail.ps1')
          %br
          =t('mail.ps2')
      %div{style: "height: 64px; background-color: #eeeeee;"}
    %td{style: "width:15%"}