%table{style: "width:60%; margin: 0 auto;"}
  %tr
    %td OD 2014 March
  %tr
    %td Date saturday ....
  %tr
    %td Programme


%p
  Dear
  %b name surname,

%p % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quod, deleniti iure quae soluta distinctio vero rem nostrum molestias velit vel architecto accusamus cum dolore fugit id mollitia! Doloribus, necessitatibus!

%table{style: "width:60%; margin: 0 auto;"}
  %tr
    %td{colspan: '2'} Free parking & shuttle busses
  %tr
    %td Those accompanying you 
    %td Time

%p regards