%div{ style: 'float: right; width:230px; text-align: center;'}
  %img{:width => 220, height: 64, :src=> "data:image/svg+xml;base64,#{Base64.encode64(@barcode.to_svg)}"}
  = @registrant.id

%div{style: "width:100%; height: 128px;"}
%table{style: "width:60%; margin: 0 auto; border: solid 1px #dddddd;"}
  %tr
    %td OD 2014 March
  %tr
    %td Date saturday ....
  %tr
    %td Programme


%p
  Dear
  %b name surname,

%p % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quod, deleniti iure quae soluta distinctio vero rem nostrum molestias velit vel architecto accusamus cum dolore fugit id mollitia! Doloribus, necessitatibus!

%table{style: "width:60%; margin: 0 auto;"}
  %tr
    %td{colspan: '2'} Free parking & shuttle busses
  %tr
    %td Those accompanying you 
    %td Time

%p regards