.center_contents
  %h2.page-headet=t('page.not_found.title')
  %p.lead=t('page.not_found.lead')
  %p
    =t('page.not_found.paragraph_1a')
    =link_to t('page.not_found.paragraph_1b'), registrants_path
    %br
    =t('page.not_found.paragraph_2')
    =link_to CONFIG['university_homepage'], CONFIG['university_homepage']