%h2.report-header
  .row
    %span.col-sm-8=t('report.comparison', name_a: @openday_a.name, name_b: @openday_b.name)
    %span.col-sm-4= select_tag 'team_id', options_from_collection_for_select(Openday.where('id != ?',@openday_a.id)+[Openday.new(slug: '0', name: t('report.compare_to_none'))], "slug", "name"),:onchange => "window.location.replace('/reports/#{@openday_a.slug}/compare/'+this.value+'/#{@faculty.slug}');", :prompt => t('report.compare_with') , class: 'form-control'

- active_faculty = params[:id]
%ul.nav.nav-tabs.nav-justified
  %li
    =link_to t('all'), report_compare_path(@openday_a.slug, @openday_b.slug)
  - @openday_a.openday_faculties.each do |faculty|
    %li{class: ('active' if active_faculty.downcase == faculty.faculty.short_name.downcase)}
      =link_to faculty.faculty.short_name, report_compare_faculty_path(@openday_a.slug, @openday_b.slug, faculty.faculty .slug)

- if  @openday_faculty_b.nil? and @openday_faculty_a.nil?
  %h3=t('report.no_faculty_registred')
- elsif  @openday_faculty_a.nil?
  %h3=t('report.unable_to_compare.title', openday: @openday_a.name, faculty: @openday_faculty_b.faculty.name)
- elsif  @openday_faculty_b.nil?
  %h3=t('report.unable_to_compare.title', openday: @openday_b.name, faculty: @openday_faculty_a.faculty.name)
- else
  %h3=t('error')
%br
%p.lead=t('report.unable_to_compare.paragraph_1')
%p=t('report.unable_to_compare.paragraph_2')